* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  scroll-behavior: smooth;
  background-image: url(../../assets/images/background-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 5vh;
}

a {
  text-decoration: none;
}

.logo-upper-text {
  font-family: Georgia, serif;
  font-size: 2rem;
  color: #F1CDB3;
  letter-spacing: 0.06em;
  line-height: 35.2px;
  padding-bottom: 0.8rem;
}

.logo-lower-text {
  font-family: Arial, serif;
  letter-spacing: 15px;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  color: #fff;
  padding-left: 10px;
}

nav {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  height: 10vh;
  padding: 5rem 0rem;
  text-align: center;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  flex: 1 1 20rem;
}

.nav-links li:nth-child(1) {
  border-bottom: 3px solid #F1CDB3;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 2 1 40rem;
}

.nav-links li {
  list-style: none;
}

.nav-links li a {
  font-family: Arial, serif;
  color: #CDCDCD;
  font-size: 0.9rem;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 85vh;
  overflow: hidden;
  margin: 0 auto;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.hero-content h2 {
  font-size: 2.75rem;
  font-family: Georgia, serif;
  line-height: 3.75rem;
  color: #fff;
  
}

.hero-content p {
  font-size: 0.9rem;
  width: 60%;
  color: #CDCDCD;
  line-height: 1.5rem;
  font-family: 'Arial', serif;
}

.hero-content a {
  padding: 0.9rem 2.8rem;
  border-radius: 100px;
  background-color: #F1CDB3;
  border: none;
  width: 30%;
  font-size: 1rem;
  letter-spacing: 0.06em;
  font-family: Georgia, serif;
  color: #292929;
  text-align: center;
}

.hero-image  {
  display: flex;
  height: 85vh;
}

.about {
  background-color: #fff;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 80%;
}

.pets-pic {
  padding: 5rem;
}

.about-content {
  padding: 5rem;
  width: 50%;
}

.about-content p {
  padding-top: 2rem;
}

.about-content h3 {
  font-size: 2.18rem;
  line-height: 2.84rem;
  font-family: Georgia, serif;
  color: #545454;
  letter-spacing: 0.06em;
}

.about-content p {
  font-family: Arial, sans-serif;
  font-size: 0.93rem;
  line-height: 1.5rem;
  color: #4C4C4C;
}

.carousel {
  background: #F6F6F6;
  overflow: hidden;
  padding: 3.75rem 0;
}

.carousel-container {
  width: 1200px;
  margin: 0 auto;
}

.btn {
  border: 2px solid #F1CDB3;
  box-sizing: border-box;
  border-radius: 100px;
  padding: 1.4rem 1.2rem;
  cursor: pointer;
  width: 3.25rem;
  height: 3.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


.carousel h3 {
  text-align: center;
  padding: 5rem 0;
  font-size: 2.18rem;
  color: #545454;
  font-weight: 400;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.slider::-webkit-scrollbar {
  visibility: hidden;
}



.card-btn {
  width: 70%;
  margin: 0 auto;
  border: 2px #F1CDB3 solid;
  border-radius: 100px;
  background-color: #fff;
  padding: 0.8rem;
  cursor: pointer;
  font-family: Georgia, serif;
  font-size: 1rem;
}

.main-btn {
  display: flex;
  padding-top: 4.37rem;
  justify-content: center;
}

.main-btn a {
  font-family: 'Georgia', serif;
  font-size: 1.1rem;
  letter-spacing: 0.06rem;
  color: #292929;
  border-radius: 100px;
  padding: 0.9rem 2.8rem;
  background: #f1cdb3;
  border: none;
}

/*  ===== Start of Help section ===== */
.help {
  text-align: center;
  padding: 1.5rem 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.help-heading {
  font-size: 2.18rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 1.5rem 0;
  color: #545454;
}

.items {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.item {
 display: grid;
 grid-template-columns: repeat(1,1fr);
 width: 20%;
 padding: 1.5rem;
}

.flex {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.flex img {
  width: 30%;
}

.item h4 {
  font-size: 1.25rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.43rem;
  color: #545454;
}

/*  ===== End of Help section ===== */


/*  ===== Start of Donation section ===== */
.donation {
  padding: 9rem 0;
  background: #F6F6F6;
}

.container-donation {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 5rem;
}

.donation-text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.donation-text h3, h5, .credit-card h4  {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.donation-text h3, h5, .credit-card h4 {
  color: #545454;
}

.donation-text h3 {
  font-size: 2.18rem;
  letter-spacing: 0.06rem;
  line-height: 130%;
}

.donation-text h5 {
  font-size: 0.9rem;
  letter-spacing: 0.06em;
}

.credit-card {
  gap: 0.8rem;
  background: #F1CDB3;
  border-radius: 9px;
  display: flex;
  align-items: center;
  padding: 0.6rem 0.9rem;
  font-size: 1.25rem;
  width: fit-content;
  line-height: 1.43rem;
  letter-spacing: 0.06em;
}

.donation-text p {
  font-size: 0.75rem;
  line-height: 1.12rem;
  font-family: 'Arial';
  font-style: italic;
  color: #B2B2B2;
  width: 75%;
}

/*  ===== End of Donation section ===== */

/*  ===== Start of Footer section ===== */
footer {
  background-image: url("/assets/images/footer-gradient-background.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 3rem;
}

.footer-container {
  width: 1200px;
  margin: 0 auto;
}

.footer-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.puppy-img {
 display: flex;
 justify-content: center;
 align-items: flex-end;
}

.footer-text h3 {
  color: #FFFFFF;
  font-size: 2.18rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 0.06em;
  line-height: 2.81rem;
}

.text-1, .text-2 {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.email, .telephone, .location-1, .location-2 {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.25rem;
  line-height: 1.43rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}

.email a, .telephone a, .location-1 a, .location-2 a {
  color: #F1CDB3;
}

/*  ===== End of Footer section ===== */